* {
  margin: 0;
  padding: 0;
}

.slider {
  background-color: skyblue;
  overflow: hidden;
  height: 36.25rem;
  width: 33.75rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.slides {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  gap: 20px;
  width: 400%;
  height: 100%;
}

.wrapper {
  width: 500px;
  height: 500px;
  margin-bottom: 20px;
}

.slide {
  width: 25%;
  transition: all 0.2s ease-in-out;
}

img {
  width: 100%;
  height: 100%;
}

.navigation {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

@media (max-width: 500px) {
  .navigation {
    right: 250px;
    bottom: 38px;
  }

  .slide p {
    margin-top: 30px;
  }

  /* .slider {
    height: 35rem;
    width: 31rem;
  } */
}

.btn {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: forestgreen;
  cursor: pointer;
}

.btn:hover {
  background-color: red;
}

.btn:active {
  background-color: transparent;
}

.btn:checked {
  background-color: transparent;
}

#rb1:checked ~ .s1 {
  margin-left: 0%;
}

#rb2:checked ~ .s1 {
  margin-left: calc(-25% - 20px);
}

#rb3:checked ~ .s1 {
  margin-left: calc(-50% - 40px);
}

#rb4:checked ~ .s1 {
  margin-left: calc(-75% - 60px);
}

input[name='rb'] {
  position: absolute;
  visibility: hidden;
}
