* {
  margin: 0;
  padding: 0;
}

.slider {
  background-color: firebrick;
  overflow: hidden;
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.slides {
  display: flex;
  width: 400%;
  height: 100%;
}

.wrapper {
  height: 500px;
  width: 500px;
  overflow: hidden;
}

.slide {
  width: 25%;
  transition: all 1s ease-in-out;
  padding-left: 2%;
  padding-right: 2%;
}

img {
  width: 100%;
  height: 100%;
  /* max-width: 100%;
  height: auto;
  object-fit: cover; */
}

/* .slide img {
  width: 100%;
  height: 100%;
} */

.navigation {
  display: flex;
  gap: 30px;
  position: absolute;
}

.btn {
  width: 10px;
  height: 10px;
  background-color: forestgreen;
  cursor: pointer;
}

.btn:hover {
  background-color: red;
}

.btn:active {
  background-color: transparent;
}

.btn:checked {
  background-color: transparent;
}

#rb1:checked ~ .s1 {
  margin-left: 0%;
}

#rb2:checked ~ .s1 {
  margin-left: -25%;
}

#rb3:checked ~ .s1 {
  margin-left: -50%;
}

#rb4:checked ~ .s1 {
  margin-left: -75%;
}

input[name='rb'] {
  position: absolute;
  visibility: hidden;
}
